extends layout

block content
  .container-fluid
    .col-8
      .card.header.shadow
        h1= title
        p Welcome to #{title}
      
      each art in article
        .card.article.shadow
          if (art.content.parts != undefined && art.content.parts[0] != undefined)
            h4.card-header= art.title
            .card-body
              if (art.nlp.namedentities.PERSON != undefined)
                each l in art.nlp.namedentities.PERSON
                  p.btn.btn-primary.m-1=l
              if (art.nlp.phrases.Np != undefined)
                each l in art.nlp.phrases.Np
                  p.btn.btn-secondary.m-1=l
              each part in art.content.parts
                p.card-text.m-2= part.content

              a(href=art.uri)=art.uri